footer{
  background-color: gray;
  width: 100%;
  height: auto;
}

.logo{
  width: 30%;
  height: auto;
  float: right;
  margin-top: 70px;
  margin-right: 50px;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

h3{
  text-decoration: none;
  font-size: 20px;
}

.copyright{
  text-align: center;
}
